on:
  pull_request:
    types:
      - closed
    branches:
      - dev
  push:
    branches:
      - dev
jobs:
  if-merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
          architecture: x64
      - name: Config
        run:
          - cp src/main/resources/application-template.yml src/main/resources/application.yml
          - sed -i "s/database_username/${{ secrets.DB_USER }}/g" src/main/resources/application.yml
          - sed -i "s/database_password/${{ secrets.DB_PASS }}/g" src/main/resources/application.yml
          - sed -i "s/jwt_secret/${{ secrets.JWT_SECRET }}/g" src/main/resources/application.yml
          - sed -i "s/8080/${{ secrets.SERVER_PORT }}/g" src/main/resources/application.yml
      - name: Package
        run: mvn package
      - name: Copy file via SSH
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: target/setsail-0.0.1.jar
          target: /home/dev/setsail.jar
      - name: Restart service
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: sudo systemctl restart setsail